[feat] Support adding json types to parse to content-type list

## Describe the feature

Some content types are ignored by koa-body even tho they are just plain json, for example, [RFC-7644 section 8.1](https://datatracker.ietf.org/doc/html/rfc7644#section-8.1) defines that SCIM requests need to use `application/scim+json` that is just a sub-set of json which should be parsed by koa-body.

Currently the only workaround for this (that I found) is to change the request content-type before it reaches koa-body.

```ts
  router.use(async (ctx, next) => {
    if (ctx.get('content-type').startsWith('application/scim+json')) {
      ctx.req.headers['content-type'] = 'application/json';
    }
    await next();
  });
  router.use(koaBody() as Middleware<KoaState, KoaContext>);
```

I suggest a new options 'jsonTypes' or 'contentTypes' to allow adding/overriding acceptable contentTypes.

Also willing to contribute if needed, lmk.

## Checklist

- [x] I have searched through GitHub issues for similar issues.
- [x] I have completely read through the README and documentation.


@gotenxds Will work on adding an option this week. 

This is now available in **[koa-body v8.0.0](https://github.com/koajs/koa-body/releases/tag/v8.0.0)**

Closing as resolved — please reopen if you run into issues!
